*{
    padding: 0;
    margin: 0;
}

.wrapper.content.title{
    text-align: center;
    margin-top: 10px;
}
.blocks{
    display: flex;
    justify-content: space-around;
    margin: 10px 0px;
}
.box h4{
    border: 2px solid black;
    background-color: white;
    padding: 15px 50px;
}
.bigbox{
    background-color: white;
    height: 400px;
    margin: 0px 10px;
    border: 2px solid black;
}
.bigbox h3{
    margin: 8px 0px;
}
.bigbox ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.bigbox ul li {
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    margin: 0px 45px;
}
button{
    font-family: sans-serif;
    font-weight: 500;
    color: #000;
    cursor: pointer;
    font-size: 16px;
    background: #e8e6ef;
    text-decoration: none;
    text-align: center;
}
.product_form{
    margin: 20px 10px;
}
.content{
    padding: 10px;
}
.label{
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0px;
}
.image_button{
    margin: 15px 0px;
    padding: 8px 15px;
}
.add{
    padding: 10px 60px;
    margin: 10px 0px;
    margin-left: 600px;
}
.small_button{
    padding: 8px;
}
.small_button ul li a button{
    padding: 10px;
    margin: 10px;
}
.custom-btn {
    width: 120px; /* Set your desired width */
    height: 60px; /* Set your desired height */
}
.order ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.order ul li {
    display: inline-block; /* Use inline-block instead of inline */
    font-size: 17px;
    font-weight: normal;
    margin: 0px 45px;
}
